.shope-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.proceed-link{
    text-decoration: none;
}
.btn-proceed{
    background: #FF9900;
    
    display: flex;
    font-size: 21px;
    height: 56px;
    width: 90%;
    margin: 10px auto;
    color: white;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
}